@mixin box-rgba($r, $g, $b, $a, $color) {
    background-color: transparent;
    background-color: rgba($r, $g, $b, $a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color}',endColorstr='#{$color}');
    zoom: 1;
}