/* See http://easings.net/ for visual representations */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); } }

@-moz-keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); } }

@-moz-keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); } }

@keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); } }

#example-list {
  padding: 0; }
  #example-list > li {
    opacity: 0;
    display: block;
    width: 300px;
    height: 80px;
    margin: 0 0 10px 0;
    border-radius: 10px;
    background: #aaa; }
  #example-list.fade-in > li {
    -webkit-animation: fade-in 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: fade-in 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-animation: fade-in 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation: fade-in 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    #example-list.fade-in > li:nth-child(2) {
      -webkit-animation-delay: 0.05s;
      -moz-animation-delay: 0.05s;
      -o-animation-delay: 0.05s;
      animation-delay: 0.05s; }
    #example-list.fade-in > li:nth-child(3) {
      -webkit-animation-delay: 0.1s;
      -moz-animation-delay: 0.1s;
      -o-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    #example-list.fade-in > li:nth-child(4) {
      -webkit-animation-delay: 0.15s;
      -moz-animation-delay: 0.15s;
      -o-animation-delay: 0.15s;
      animation-delay: 0.15s; }
    #example-list.fade-in > li:nth-child(5) {
      -webkit-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -o-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    #example-list.fade-in > li:nth-child(6) {
      -webkit-animation-delay: 0.25s;
      -moz-animation-delay: 0.25s;
      -o-animation-delay: 0.25s;
      animation-delay: 0.25s; }
    #example-list.fade-in > li:nth-child(7) {
      -webkit-animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      -o-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    #example-list.fade-in > li:nth-child(8) {
      -webkit-animation-delay: 0.35s;
      -moz-animation-delay: 0.35s;
      -o-animation-delay: 0.35s;
      animation-delay: 0.35s; }
    #example-list.fade-in > li:nth-child(9) {
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      -o-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    #example-list.fade-in > li:nth-child(10) {
      -webkit-animation-delay: 0.45s;
      -moz-animation-delay: 0.45s;
      -o-animation-delay: 0.45s;
      animation-delay: 0.45s; }
    #example-list.fade-in > li:nth-child(11) {
      -webkit-animation-delay: 0.5s;
      -moz-animation-delay: 0.5s;
      -o-animation-delay: 0.5s;
      animation-delay: 0.5s; }
  #example-list.fade-out > li {
    -webkit-animation: fade-out 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: fade-out 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-animation: fade-out 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation: fade-out 1s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    #example-list.fade-out > li:nth-child(10) {
      -webkit-animation-delay: 0.05s;
      -moz-animation-delay: 0.05s;
      -o-animation-delay: 0.05s;
      animation-delay: 0.05s; }
    #example-list.fade-out > li:nth-child(9) {
      -webkit-animation-delay: 0.1s;
      -moz-animation-delay: 0.1s;
      -o-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    #example-list.fade-out > li:nth-child(8) {
      -webkit-animation-delay: 0.15s;
      -moz-animation-delay: 0.15s;
      -o-animation-delay: 0.15s;
      animation-delay: 0.15s; }
    #example-list.fade-out > li:nth-child(7) {
      -webkit-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -o-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    #example-list.fade-out > li:nth-child(6) {
      -webkit-animation-delay: 0.25s;
      -moz-animation-delay: 0.25s;
      -o-animation-delay: 0.25s;
      animation-delay: 0.25s; }
    #example-list.fade-out > li:nth-child(5) {
      -webkit-animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      -o-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    #example-list.fade-out > li:nth-child(4) {
      -webkit-animation-delay: 0.35s;
      -moz-animation-delay: 0.35s;
      -o-animation-delay: 0.35s;
      animation-delay: 0.35s; }
    #example-list.fade-out > li:nth-child(3) {
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      -o-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    #example-list.fade-out > li:nth-child(2) {
      -webkit-animation-delay: 0.45s;
      -moz-animation-delay: 0.45s;
      -o-animation-delay: 0.45s;
      animation-delay: 0.45s; }
    #example-list.fade-out > li:nth-child(1) {
      -webkit-animation-delay: 0.5s;
      -moz-animation-delay: 0.5s;
      -o-animation-delay: 0.5s;
      animation-delay: 0.5s; }

.hide {
  display: none; }

/*# sourceMappingURL=Sequential-Items.css.map */